services:
  app:
    build: .
    container_name: healthybites
    ports:
      - "8000:8000"
      - "3000:3000"
    env_file:
      - .env
    environment:
      - PORT=8000
    restart: unless-stopped
